:root{
    --dark-blue: #002FFF;
    --light-blue: #72d9ff;
    --dark-white: #f3f3f3;
    --light-white: #ffffff;
    --black: #272727;
    --dark-red: #db2044;
    --light-pink: #e233b8;


    --blue-gradient: linear-gradient(80deg, #2f80ff 0%, #3ccbff 100%);
    --red-gradient: linear-gradient(80deg, #db2044 0%, #e233b8 100%)
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}


/****************** date components ***************************/

div.DateTime{
    background-image: var(--blue-gradient);
    width: 100vw;
    /* height: 20vh; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: var(--black);
    color: white;
    padding: 25px 50px;
}

div.DateTime > .dateSection{
    display: grid;
    /* column-gap: 10px; */
    grid-template-columns: 0.5fr 0.1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
}

div.DateTime > .dateSection > .date{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 6rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: var(--dark-red);
    -webkit-text-stroke: 1px var(--light-white);
}

div.DateTime > .dateSection > .day{
    writing-mode: vertical-rl;
    /* transform: rotate(180deg); */
    font-size: 1.7rem;
    padding: 0;
    padding-top: 20px;
    grid-row-start: 1;
    grid-row-end: 3;

    font-weight: 600;
}

div.DateTime > .dateSection > .month{
    font-size: 3rem;
    color: var(--dark-white);
    padding-bottom: -10px;
    grid-column-start: 3;
    grid-column-end: 4;
}

div.DateTime > .dateSection > .year{
    font-size: 2rem;
    font-weight: 600;
    grid-column-start: 3;
    grid-column-end: 4;
}

div.DateTime > .time{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    gap: 5px;
    font-weight: 600;
    font-size: 5rem;

}

/****************** add Task components ***************************/


/* header.addTaskSection{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

header.addTaskSection > form{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

header.addTaskSection > form > input#TaskInput{
    padding: 5px;
    width: 40vw;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid #c5c5c5;
}

header.addTaskSection > form > input#TaskInput:focus{
    outline: none;
}

header.addTaskSection > form > input[type="submit"]{
    padding: 5px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-image: var(--red-gradient);
    color: var(--light-white);
} */

.addTaskSection{
    position: fixed;
    display: flex;
    align-items: flex-end;
    bottom: 25px;
    right: 25px;
}

.addTaskSection > button.addTaskButton{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 2rem;
    color: var(--dark-red)
}

.addTaskSection > form {
    display: flex;
    flex-direction: column;
    float: left;
    gap: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: var(--dark-white);
    padding: 15px;
    border-radius: 5px;
}

.addTaskSection > form > #TaskInput{
    width: 300px;
    font-size: 1.2rem;
    background-color: var(--light-white);
    /* background-color: white; */
    border: none;
    padding: 5px;
}

.addTaskSection > form > input[type="text"]:focus{
    outline: none;
}

.addTaskSection > form > textarea#description{
    /* min-height: max-content; */
    
    font-size: 1rem;
    text-align:start;
    border: none;
    /* outline: none; */
    font-size: 1.2rem;
    padding: 5px;
}

.addTaskSection > form > input[type='submit']{
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-image: var(--red-gradient);
    color: var(--light-white);
    font-weight: 600;
    font-size: 1rem;
    float: left;
}

.addTaskSection > form > input#taskColor{
    width: 100%;
    border: 0;
    outline: none;
    box-shadow: none;
}

/****************************** task card **********************/

div.Todo-Modal {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-white) ;
    /* margin: auto; */
    /* margin-top: 25px; */
    padding: 15px;
}

div.Todo-Modal > div.TaskCard{
    overflow: hidden;
    max-height: 80px;
    width: 80vw;
    /* height: 80px; */
    margin: auto;
    padding: 5px;
    border-radius: 0 8px 8px 0;
    background-color: var(--light-white);
    display: flex;
    justify-content: space-between;
    /* border-left: 4px solid black; */
}

div.Todo-Modal > div.TaskCard > .info > .taskName {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--black)
}

div.Todo-Modal > div.TaskCard > .info > .taskDescription{
    font-size: 1rem;   
}

div.Todo-Modal > div.TaskCard > .info2{
    position: relative;

}

div.Todo-Modal > div.TaskCard > .info2 > .doneButton {
    height: 50px;
    width: 60px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--light-blue);
    color: white;
    border-radius: 0% 0 0% 100%;
    position: absolute;
    top: -10px;
    right: -10px;
}

div.Todo-Modal > div.TaskCard > .info2 > .taskDate{
    padding-right: 60px;
    color: gray;
}